:root {
  --main-bg-color: #1e1b4b;
  --bg-color-1: #172554;
  --bg-color-2: #082f49;

  --font-color-1: #fafafa;
  --font-color-2: #d4d4d8;
  --font-color-3: #71717a;
  --font-color-4: #FA346E;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f172a;
  color: var(--font-color-1);
  font-family: 'Roboto', sans-serif;
}

.container-wrapper {
  background-color: var(--main-bg-color);
}

.container {
  background-color: var(--bg-color-1);
  width: 500px;
  margin: 200px auto;
  position: relative;
}

.bell {
  border: 1px solid gold;
  border-radius: 40px;
  width: 60px;
  padding: 5px 0;
  text-align: center;
  position: absolute;
  top: -20px;
  right: 0px;
}

.bell svg {
  height: 40px;
}

.header {
  background-color: var(--bg-color-2);
  text-transform: uppercase;
  padding: 30px;
}

.user-photo img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 25px;
}

.notification {
  display: flex;
}

.footer {
  background-color: var(--bg-color-2);
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
  font-weight: 600;
  color: var(--font-color-4);
}